<div style="text-align:left;font-size:2em"><span style="font-weight:bolder;font-size:1.25em">SP2273 | Learning Portfolio</span><br><br><span style="font-weight:bold;color:darkred">Fundamentals (Good) Exercises</span></div>

### Exercise 1 (f-strings to the rescue)

#### Example 1

In [69]:
user_input = input('Please provide me with a number?')
print('You entered', user_input)

Please provide me with a number? 19

You entered 19

#### Task 1

In [70]:
name = input('Hi there, what is your name?')
print(f'How you doin \033[1m{name.upper()}\033[0m!')        # \033[1m {X} \033[0m is the way to format for bold

Hi there, what is your name? Afiq

How you doin AFIQ!

#### Task 2

In [71]:
Name = input('Howdy cowboy, what\'s your name?')
age = input('How old are you?')
print(f'My name is \033[1m{Name.upper()}\033[0m and I am \033[1m{age}\033[0m years old.')

Howdy cowboy, what's your name? Afiq
How old are you? 21

My name is AFIQ and I am 21 years old.

#### Task 3

In [11]:
pi = 3.141592653589793
print(f'The value of pi to 2 decimal places is: {pi:.2f}')
print(f'The value of pi to 3 decimal places is: {pi:.3f}')
print(f'The value of pi to 4 decimal places is: {pi:.4f}')

The value of pi to 2 decimal places is: 3.14
The value of pi to 3 decimal places is: 3.142
The value of pi to 4 decimal places is: 3.1416

#### Task 4

In [72]:
ap, ba, ora = 'Apple', 'Banana', 'Orange'
pA, pB, pO = 0.99, 0.59, 1.29
print(f'{ap: <10} $ {pA: <04}')
print(f'{ba: <10} $ {pB: <04}')
print(f'{ora: <10} $ {pO: <04}')

Apple      $ 0.99
Banana     $ 0.59
Orange     $ 1.29

### Exercise 2 (What is your grade?)

In [59]:
grade = input('What is your score?')
try:
    float(grade)    # Attempt to convert to float
    g = float(grade)
    a = 'The student\'s letter grade is:'
    if 70 <= g <= 100:
        print(a, 'A')
    elif 50 <= g < 70:
        print(a, 'B')
    elif 35 <= g < 50:
        print(a, 'C')
    else: print(a, 'Fail')
except ValueError:  # ValueError indicates cannot turn str into float
    print('An error occurred. Please enter a numerical value between 0 and 100.')

What is your score? 89

The student's letter grade is: A

### Exercise 3 (Debugging Code)

In [68]:
def factorial(n):                                
    if n < 0:                       # Error 1: The '>' needs to be flipped '<'
        return "Invalid input"
    elif n == 0:                    # Error 2: 0! = 1, so we need to check for n == 0
        return 1
    else:
        result = 1
        for number in range(1, n+1):
            result *= number        # Error 3: += is to add everything, but we want to multiply everything hence *=
        return result

print(factorial(5))   # Testing, expected output: 120
print(factorial(-1))  # Testing, expected output: Invalid input

120
Invalid input